{% extends "_layout" %}
{% block content %}
  <section class="products-section">
    <h1>Our products</h1>
    <div class="products">
      {% set entries = craft.entries().section('products').limit(4) %}
                {% for entry in entries %}
                    <article>
                        <picture>
                            <img src="products/{{entry.footballimage.one()}}.jpg" alt="">
                        </picture>

                        <h2>{{ entry.title }}</h2>
                        

                        <a href="{{ entry.url }}">Bekijk details</a>
                    </article>
                {% endfor %}
                <a href="/shop" class="btn">Bekijk alle producten</a>
    </div>
  </section>
{% endblock %}